<div class="card" style="width: 18rem;">
<img src="/Imgs/@Model.Img">
<div class="card-body">
    <h5 class="card-title">@Model.Name</h5>
<p class="card-text">@Model.Name from @Model.Address</p>
</div>
</div>


